$padding: 1rem;
$padding-dbl: 2 * $padding;
$padding-hlf: 0.5 * $padding;

$border-r: 20px;
$border-r2: 0.5 * $border-r;

$color-1: #5755cc;
$color-2: #b1b0e8;
$color-3: #2d2b91;
$color-4: #1b1a56;
$color-5: #eeeeee;
$color-6: hsl(241, 54%, 65%);
$color-7: #727272;

$color-italic: lightgray;
$color-good-1: rgb(45, 125, 45);
$color-good-2: rgb(96, 217, 96);
$color-bad-1: rgb(183, 62, 62);
$color-bad-2: rgb(255, 155, 155);

$nav-height: 100px;

$shadow: #3131319c;
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400&display=swap');

* {
    font-family: "Nunito", sans-serif;
}
@mixin theme-color() {
    color: white;
    background: $color-1;
}
@mixin bw() {
    color: black;
    background: white;
}
@mixin border($width) {
    border: solid $width black;
}
//
@mixin flex-center() {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
@mixin module() {
    display: flex;
    border-radius: $border-r;
    padding: $border-r;
    background: white;
    @include border(1px);
}
@mixin button() {
    @include theme-color;
    height: 100%;
    border: none;
    width: 100%;
    font-weight: 200;
    &:hover {
        background: $color-3;
        box-shadow: inset 0px -4px 0px white;
        font-weight: 400;
    }
    &:active {
        background: $color-4;
    }
    &.on {
        box-shadow: inset 0px -10px 0px $color-6;
    }
    transition: background 0.5s ease, box-shadow 0.5s ease, font-weight 0.2s ease;
}

body {
    margin: 0 !important;
}

h1, h2, h3 {
    margin-block-end: 0;
    margin-block-start: 0;
}

//////////////////

.nav {
    @include theme-color;

    width: 100%;
    height: $nav-height;
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0px;
    box-shadow: 0px 0px 15px $shadow;

    .left {
        width: 20%;
        min-width: 175px;
        height: 100%;
        align-self: flex-start;
        * {
            width: 100%;
            height: 100%;
        }
    }
    .right {
        width: 13%;
        height: 100%;
        align-self: flex-end;
        * {
            width: 100%;
            height: 100%;
        }
    }
    .mid {
        width: 80%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        .btn {
            @include button;
            font-size: 160%;
        }
    }
}

//////////////////

.logo {
    width: 100%;
    height: 100%;
    .image {
        background: url('../public/logo.png');
        background-size: 150px;
        background-repeat: no-repeat;
        background-position: center;
    }
}

//////////////////

.page {
    height: calc(100% - $nav-height - $padding-dbl - $padding-dbl);
    padding: $padding-dbl;
}
.main {
    height: 100vh;
    width: 100vw;
}

.grid {
    display: grid;
    &.top {
        grid-template-columns: 3fr 8fr 2fr;
        grid-gap: $padding-dbl;
        height: 100%;
        max-height: 100%;
        overflow: hidden;
    }
    &.post {
        grid-template-columns: 1fr 8fr 4fr;
        grid-gap: $padding-dbl;
        height: 100%;
        max-height: 100%;
        overflow: hidden;
    }
}

.container {
    display: flex;
    flex-direction: column;
    padding: $padding;
    overflow-y: scroll;
    max-height: 80vh;
    &.in {
        background: $color-5;
        box-shadow: inset 0px 0px 2px $shadow;
        outline: solid 1px $shadow;
    }
    &.border {
        border: solid 1px $color-5;
    }
    &.scroll {
        overflow-y: scroll;
        height: 80vh;
    }
}

.module {
    @include module;
    margin-bottom: $padding;
    flex-direction: column;
    user-select: none;
    .title {
        width: 100%;
        height: 25%;
        font-size: 150%;
        cursor: pointer;
    }
    .body {
        width: 100%;
        height: 75%;
    }
    .info {
        display: flex;
        width: 100%;
        flex-direction: row;
        margin-block-start: 0;
        margin-block-end: -1 * $padding;
        .fingerprint {
            text-align: right;
            font-style: italic;
            color: $color-6;
            width: 75%;
        }
        .score {
            color: $color-1;
            font-weight: bolder;
            font-size: 110%;
            text-align: left;
            width: 25%;
        }
    }
}
.infostr {
    color: $color-italic;
    
}

//////////////////

.search {
    .bar {
        height: 50px;
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: left;
        input {
            width: 100%;
            height: 90%;
            font-size: 120%;
            border-radius: $border-r;
            padding: 0 $border-r;
            border: solid 1px black;
        }
    }
    .sort {
        margin-top: $padding;
        height: 200%;
        select {
            padding: $padding-hlf;
            margin-left: $padding-hlf;
        }
    }
}

//////////////////

.profile {
    height: 100%;
    &.small {
        display: flex;
        button {
            @include button;
            background: $color-3;
            border: none;
            width: 100%;
            display: flex;
            padding: $padding $padding-dbl;
            * {
                align-self: center;
                justify-self: center;
                align-items: center;
                justify-content: center;
            }
            img {
                max-height: 60px;
                max-width: 60px;
                height: auto;
                width: auto;
                border-radius: 60px;
            }
            .username {
                display: flex;
                font-size: 150%;
                height: 100%;
                width: 100%;
            }
        }
    }
}

//////////////////

.postform {
    display: flexbox;
    flex-direction: row;
    width: 60%;
    height: 100%;
    .title {
        width: 40%;
        height: 5%;
        margin-bottom: calc(3 * $padding);
    }
    .body {
        width: 100%;
        height: 40%;
        margin-bottom: calc(3 * $padding);
    }
    .submit {
        width: 20%;
        height: 5%;
        font-size: medium;
    }
    input {
        padding: $padding;
        font-size: larger;
        width: 100%;
        height: 100%;
    }
}

.message {
    padding: $padding-hlf;
    margin: $padding-hlf;
    margin-left: 0;
    &.confirmation {
        color: $color-good-1;
        background: $color-good-2;
        border: solid 1px $color-good-1;
    }
    &.error {
        color: $color-bad-1;
        background: $color-bad-2;
        border: solid 1px $color-bad-1;
    }
}

//////////////////

.authpage {

    display: flex;
    flex-direction: column;
    height: 100vh;

    .logo {
        width: 15%;
        height: 15%;
        align-self: center;
        .image {
            width: 100%;
            height: 100%;
            background: url('../public/logo_2.png');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }
    }

    .chip {
        width: 25%;
        min-height: 30%;
        &.tall {
            min-height: 35%;
        }
        align-self: center;
        background: $color-5;
        box-shadow: inset 0px 0px 2px $shadow;
        align-items: center;
        padding: $padding-dbl;

        display: flex;
        flex-direction: column;
        align-items: center;

        .header {
            text-align: center;
        }
        label {
            font-size: 1.3rem;
        }
        input {
            padding: $padding;
            font-size: larger;
            width: 50%;
            height: 8%;
            margin-bottom: $padding;
            border-radius: $border-r;
            border: solid 1px black;
        }
        button {
            padding: $padding-hlf;
            margin-bottom: $padding;
            font-size: larger;
            width: 50%;
            height: 15%;
            background: $color-1;
            color: $color-5;
            border: none;
            &.grayed {
                background: $color-7;
                color: $color-5;
            }
        }
    }

}